<body>
    <p id="notice"></p>
    <h1>Books</h1>

  <table
    <thead>
      <tr>
        <th>Title</th>
        <th>Body</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
        <tr>
          <td>リーダブルコード</td>
          <td>より良いコードを書くためのシンプルで実践的なテクニック</td>
          <td><a class="show_20437" href="/books/20437">Show</a></td>
          <td><a class="edit_20437" href="/books/20437/edit">Edit</a></td>
          <td><a data-confirm="Are you sure?" class="destroy_20437" rel="nofollow" data-method="delete" href="/books/20437">Destroy</a></td>
        </tr>
        <tr>
          <td>トラブル知らずのシステム設計</td>
          <td>システム設計の要点を図解で説明してくれます</td>
          <td><a class="show_20438" href="/books/20438">Show</a></td>
          <td><a class="edit_20438" href="/books/20438/edit">Edit</a></td>
          <td><a data-confirm="Are you sure?" class="destroy_20438" rel="nofollow" data-method="delete" href="/books/20438">Destroy</a></td>
        </tr>
        <tr>
          <td>たのしいRuby</td>
          <td>Rubyの入門におすすめです</td>
          <td><a class="show_20439" href="/books/20439">Show</a></td>
          <td><a class="edit_20439" href="/books/20439/edit">Edit</a></td>
          <td><a data-confirm="Are you sure?" class="destroy_20439" rel="nofollow" data-method="delete" href="/books/20439">Destroy</a></td>
        </tr>
        <tr>
          <td>入門Git</td>
          <td>gitについての基本操作から内部構造まで解説してくれます</td>
          <td><a class="show_20440" href="/books/20440">Show</a></td>
          <td><a class="edit_20440" href="/books/20440/edit">Edit</a></td>
          <td><a data-confirm="Are you sure?" class="destroy_20440" rel="nofollow" data-method="delete" href="/books/20440">Destroy</a></td>
        </tr>
        <tr>
          <td>アルゴリズム図鑑</td>
          <td>アルゴリズムについてカラーイラストでしっかり解説してくれます</td>
          <td><a class="show_20441" href="/books/20441">Show</a></td>
          <td><a class="edit_20441" href="/books/20441/edit">Edit</a></td>
          <td><a data-confirm="Are you sure?" class="destroy_20441" rel="nofollow" data-method="delete" href="/books/20441">Destroy</a></td>
        </tr>
        <tr>
          <td>達人プログラマー</td>
          <td>プログラマ入門者は必読！</td>
          <td><a class="show_20442" href="/books/20442">Show</a></td>
          <td><a class="edit_20442" href="/books/20442/edit">Edit</a></td>
          <td><a data-confirm="Are you sure?" class="destroy_20442" rel="nofollow" data-method="delete" href="/books/20442">Destroy</a></td>
        </tr>
        <tr>
          <td>データベース実践入門</td>
          <td>効率的なSQL文を教えてくれます</td>
          <td><a class="show_20443" href="/books/20443">Show</a></td>
          <td><a class="edit_20443" href="/books/20443/edit">Edit</a></td>
          <td><a data-confirm="Are you sure?" class="destroy_20443" rel="nofollow" data-method="delete" href="/books/20443">Destroy</a></td>
        </tr>
    </tbody>
  </table>


<h2>New book</h2>
  <form class="new_book" id="new_book" action="/books" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="✓"><input type="hidden" name="authenticity_token" value="q18qd8URbykyMxey7R+YPVwO2dzzsq3P+pGMEff4P/f3FIC+kqVcgjnCZThgb/XedC5y2cctYvcWC6otJUvH0Q==">

    <div class="field">
      <label for="book_title">Title</label>
      <input class="book_title" type="text" name="book[title]" id="book_title">
    </div>

    <div class="field">
      <label for="book_body">Body</label>
      <textarea class="book_body" name="book[body]" id="book_body"></textarea>
    </div>

    <div class="actions">
      <input type="submit" name="commit" value="Create Book" data-disable-with="Create Book">
    </div>
  </form>
  

</body>